.nav{
  display: flex;
  list-style-type: none;
  background-color: rgb(236, 247, 247);
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.list{
  margin-left: 1%;
  margin-right: 1%;
}

.link{
  text-decoration: none;
}

.home{
  display: flex;
  background-color: rgb(236, 247, 247);
  padding-top: 8%;
  padding-left: 4%;
}

.button{
  background-color: rgb(34, 197, 197);
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  font-weight: 800;
  font-size: larger;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 60px;
}

.custom-image{
  width:max-content;
  height: 515px;
}

.headline{
  font-size: 40px;
  font-weight: 600;
  font-style: bold;
}

.paragraph{
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

.bullets{
  font-size:25px;
  font-weight: 300;
  font-style: bold;
  margin-bottom: 10px;
}

.butt{
  display: flex;
  margin-top: 20px;
}

.main{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.butt1{
  display: flex;
  align-items: center;
  justify-content: center;
}